{% extends "index.html" %}
{% load static %}
{% block content %}

     <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" action="#" method="post">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-username">Fullname 
                                            </label>
                                            <div class="col-lg-6">
                                                <p>{{ get_game.user.first_name }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-email">Add Date 
                                            </label>
                                            <div class="col-lg-6">
                                                <p>{{ get_game.add_date }}</p>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label"><a href="#">Status</a>  
                                            </label>
                                            <div class="col-lg-8">
                                                <label class="css-control css-control-primary css-checkbox" for="val-terms">
                                                {% if get_game.add_status == True %}
                                                <input type="checkbox" class="css-control-input" id="val-terms" name="actv" value="1" checked>
                                                <input type="text" style="display: none;" id="act-result"  name="actv" value="1">
                                                {% elif get_game.add_status == False %}
                                                <input type="checkbox" class="css-control-input" id="val-terms" name="actv" value="1"></label>
                                                <input type="text" style="display: none;" id="act-result"  name="actv" value="0">
                                                 {% endif %}
                                                </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-password">Add Date 
                                            </label>
                                            <div class="col-lg-6">
                                                <p>{{ get_game.add_date }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-confirm-password">Price
                                            </label>
                                            <div class="col-lg-6">
                                                <p>{{ get_game.add_price }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-suggestions">Razor Pay Order Id
                                            </label>
                                            <div class="col-lg-6">
                                                <p>{{ get_game.razor_pay_order_id }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-skill">Razor Pay Payment Id
                                            </label>
                                            <div class="col-lg-6">
                                                <p>{{ get_game.razor_pay_payment_id }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-currency">Razor Pay Payment Signature 
                                            </label>
                                            <div class="col-lg-6">
                                                <p>{{ get_game.razor_pay_payment_signature }}</p>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        {% endblock content %}