{% extends "index.html" %}
{% load static %}
{% block content %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Buy Ticket Table</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Username</th>
                                                <th>Ticket</th>
                                                <th>Order Status</th>
                                                <th>Order Price</th>
                                                <th>Opration</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for gtk in get_ticket %}
                                            <tr>
                                                <td>{{ gtk.userid.first_name }}</td>
                                                <td>{{ gtk.ticketid.game.game_name}}</td>
                                                <td>
                                                    {% if gtk.order_status == True %}
                                                    <input type="checkbox" class="css-control-input" id="val-terms" name="actv" value="1" checked>
                                                    {% elif gtk.order_status == False %}
                                                    <input type="checkbox" class="css-control-input" id="val-terms" name="actv">
                                                    {% endif %}
                                                </td>
                                                <td>{{ gtk.order_price }}</td>
                                                <td>
                                                    <span>
                                                        <a href="{% url 'view_detail_buy_ticket' id=gtk.id %}" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-eye color-muted m-r-5"></i> </a> |
                                                        <a href="{% url 'buy_ticket_edit' id=gtk.id %}" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a> | 
                                                        <a href="{% url 'buy_ticket_del' id=gtk.id %}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash-o color-danger"></i></a>
                                                    </span>
                                                </td>
                                            </tr>      
                                            {% endfor %}                                      
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Username</th>
                                                <th>Ticket</th>
                                                <th>Order Status</th>
                                                <th>Order Price</th>
                                                <th>Opration</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        

        
        {% endblock content %}