{% extends "index.html" %}
{% load static %}
{% block content %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                {% comment %} <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div> {% endcomment %}
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Data Table</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>City Name</th>
                                                <th>Opration</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cty in get_city %}
                                            <tr>
                                                <td>{{ cty.city_name }}</td>
                                                
                                                <td>
                                                    <span><a href="{% url 'city_edit' id=cty.id %}" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a> | 
                                                        <a href="{% url 'city_del' id=cty.id %}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash-o color-danger"></i></a></span>
                                                </td>
                                            </tr>      
                                            {% endfor %}                               
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>City Name</th>                                                
                                                <th>Opration</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        

        
        {% endblock content %}