{% extends "index.html" %}
{% load static %}
{% block content %}

     <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" action="#" method="post">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-username">Game Name 
                                            </label>
                                            <div class="col-lg-6">
                                                <p>{{ get_game.game.game_name }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-email">Rule 
                                            </label>
                                            <div class="col-lg-6">
                                                <p>{{ get_game.rule.name }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-password">Price 
                                            </label>
                                            <div class="col-lg-6">
                                                <p>{{ get_game.price }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-confirm-password">Number of Ticket
                                            </label>
                                            <div class="col-lg-6">
                                                <p>{{ get_game.number_of_tickets }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-suggestions">User
                                            </label>
                                            <div class="col-lg-6">
                                                <p>{{ get_game.user.first_name }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-skill">Total Cost 
                                            </label>
                                            <div class="col-lg-6">
                                                <p>{{ get_game.total_cost }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-currency">Created At
                                            </label>
                                            <div class="col-lg-6">
                                                <p>{{ get_game.created_at }}</p>
                                            </div>
                                        </div>
                                        
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        {% endblock content %}